@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 body {
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background-color: blanchedalmond;
}
.banner {
    background-color: rgb(36, 36, 36);
    text-align: center;
    max-width: 100%;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    position: relative;
}
.banner h1 {
    color: #8FD8D2;
    z-index: 1;
    padding: 10px;
    font-size: 60px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner img {
    max-width: 100%;
    opacity: 0.5;
    z-index: -1;
}
.format {
    color: #8FD8D2;
    padding: 10px 10px;
    font-size: 24px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    max-width: 100%;
}

section .card {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

section .card .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
}
section .card:hover .box {
    transform: rotateY(180deg);
}

section .card .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .card .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .card .box .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

section .card .box .contentBx div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #53c0bb, #e9936c);
    transform: translateZ(100px);
}

section .card .box .contentBx div h2 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}

section .card .box .contentBx div p {
    color: #fff;
    font-size: 16px;
}
nav {
    max-width: 100%;
    background-color: rgb(36, 36, 36);
    border: 2px solid lightgray;
    white-space: nowrap;
}
.login {
  text-align: left;
}
.nav-bar{
    float: right;
}
nav ul li {
    font-size: 16px;
    display: inline-block;
    padding: 30px 20px;
}
nav li a {
    text-decoration: none;
    color: rgb(136, 136, 136);
    text-transform: uppercase;
}
nav li a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #DF744A;
}
@media screen and (max-width: 650px) {
    .login {
        display: block;
        text-align: left;
        padding: 10px;
        padding-top: 20px;
        font-size: 14px;
    }
    .nav-bar {
        float: none;
        display: block;
        text-align: left;
        padding: 10px;
        padding-bottom: 20px;
        font-size: 14px;
    }
    section .card {
        max-width: 100%;
    }

}