@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav {
    max-width: 100%;
    background-color: rgb(36, 36, 36);
    border: 2px solid lightgray;
    white-space: nowrap;
}
.login {
  text-align: left;
}
.nav-bar{
    float: right;
}
nav ul li {
    font-size: 16px;
    display: inline-block;
    padding: 30px 20px;
}
nav li a {
    text-decoration: none;
    color: rgb(136, 136, 136);
    text-transform: uppercase;
}
nav li a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #DF744A;
}
.banner {
    background-color: rgb(36, 36, 36);
    text-align: center;
    max-width: 100%;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    position: relative;
}
.banner h1 {
    color: #8FD8D2;
    z-index: 1;
    padding: 10px;
    font-size: 60px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner img {
    max-width: 100%;
    opacity: 0.7;
    z-index: -1;
}
.format {
    color: #8FD8D2;
    padding: 10px;
    font-size: 24px;
}
h1 {
    text-align: center;
    color: rgb(36, 36, 36);
    text-decoration: underline;
} 

li {
    text-align: center;
}
li a {
    text-decoration: none;
    font-weight: bold;
    color: #8FD8D2;
}
.icons {
    text-align: center;
    margin: 4px 0;
    /* white-space: nowrap; */
    position: relative;
}
.icons li {
    display: inline-block;
    width: 32%;
    padding: 4px;
}
.icons .img-wrap img {
    max-width: 100%;
}
.img-wrap {
    position: relative;
}
.descr {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    color: black;
    font-size: 16px;
    padding: 10px 10px;
}
.img-wrap:hover .descr {
    visibility: visible;
    opacity: 1;
}
.img-wrap:hover {
    opacity: 0.5;
}
li {
    list-style: none;
}
@media screen and (max-width: 1400px) {
    .banner h1 {
        font-size: 72px;
    }
    .banner img {
        max-width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .banner h1 {
        font-size: 72px;
    }
}
@media screen and (max-width: 650px) {
    .login {
        display: block;
        text-align: left;
        padding: 10px;
        padding-top: 20px;
        font-size: 14px;
    }
    .nav-bar {
        float: none;
        display: block;
        text-align: left;
        padding: 10px;
        padding-bottom: 20px;
        font-size: 14px;
    }
    .banner {
        white-space: normal;
    }
    .banner h1 {
        font-size: 40px;
        position: relative;
    }
}
 
