@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav {
    position: absolute;
    width: 100%;
    z-index: 1;
}



.login {
  text-align: left;
}
.nav-bar{
    float: right;
}
nav ul li {
    font-size: 16px;
    display: inline-block;
    padding: 30px 20px;
}
nav li a {
    text-decoration: none;
    color: rgb(136, 136, 136);
    text-transform: uppercase;
}
nav li a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #DF744A;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner .title{
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 60px;
  color: rgb(136, 136, 136);
  position: absolute;
  background-color: #e6a7cd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner img {
  max-width: 100%;
}

  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  .signup {
    float: right;
    margin: 20px 20px;
    padding: 10px;
    border: 5px solid #e6a7cd;
    color: rgb(136, 136, 136);
    text-decoration: none;
  }

@media screen and (max-width: 1000px) {
  .banner .title {
    font-size: 60px;
  }
}
@media screen and (max-width: 800px) {
  .banner .title {
    font-size: 50px;
  }
}
@media screen and (max-width: 650px) {
    .login {
        display: block;
        text-align: left;
        padding: 10px;
        padding-top: 20px;
        font-size: 14px;
    }
    .banner .title{
      font-size: 40px;
    }
    .nav-bar {
        float: none;
        display: block;
        text-align: left;
        padding: 10px;
        padding-bottom: 20px;
        font-size: 14px;
    }
    .banner .title {
      top: 90%;
    }
}
.quote {
  text-align: center;
  font-size: 36px;
  color: #8FD8D2;
  font-style: italic;
  background-color: darkgray;
  
}